service: sample-aws-serverless-project
frameworkVersion: '2'

provider:
  name: aws
  runtime: nodejs14.x
  lambdaHashingVersion: '20201221'

plugins:
  - serverless-offline

functions:
  hello:
    handler: functions/index/handler.endpoint
    events:
      - httpApi:
          path: /
          method: get
  mySecondFunction: # function/endpoint name
    handler: functions/mySecondFunction/handler.endpoint # where the function is located
    events:
      - httpApi:
          path: /my-second-function # what is the endpoint
          method: get
  user:
    handler: functions/user/handler.endpoint # where the function is located
    events:
      - httpApi:
          path: /user
          method: post